h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
}

h2 {
    text-align: center;
}

.genericButton {
    background-color: rgb(244, 113, 115) !important;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem !important;
}

.genericButton:hover {
    background-color: white !important;
    color: rgb(244, 113, 115) !important;
    box-shadow: 3px 3px 3px grey, -3px 3px 3px grey;
}